---
import { SITE } from "@config";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";

import { LANGUAGES_KEYS } from "./../../i18n/utils";
export async function getStaticPaths() {
  return LANGUAGES_KEYS.map(lang => {
    return {
      params: { lang },
    };
  });
}

const { lang } = Astro.params;
---

<Layout {lang} title={`${SITE.title}`}>
  <Header activeNav="about" {lang} />
  <Breadcrumbs {lang} />
  <main id="main-content">
    <section id="about" class="prose mb-28 max-w-3xl prose-img:border-0">
      <h1 class="text-2xl tracking-wider sm:text-3xl">About</h1>
      <!-- Escrever aqui o sobre do blog -->
    </section>
  </main>
  <Footer {lang} />
</Layout>
